{% extends "autobuske_linije/base.html" %}

{% block content %}


<h3>AUTOBUSKA STAJALIŠTA</h3>

<div class="tableFixHead">
<table id="t1">
	<thead>
	<tr>
		<th>ID</th>
		<th>Autobusko stajalište</th>
		<th>Ulica</th>
		<th>Koordinate</th>
	</tr>
	</thead>
	{% for stajaliste in object_list %}
		<tr>
			<td>{{ stajaliste.id }}</td>
			<td><a href="/autobuske_linije/stajalista/{{ stajaliste.id }}/">{{ stajaliste.naziv }}</a></td>
			<td>{{ stajaliste.ulica }}</td>
			<td>{{ stajaliste.get_coordinates|default_if_none:"" }}</td>
		</tr>
	{% endfor %}
	</tr>
</table>
</div>
<div style="position: absolute; right: 14.9%">
<form action="/autobuske_linije/stajaliste_create/" method="post">{% csrf_token %}
  <input type="submit" class="button" value="Dodaj"/>
</form>
</div>

{% endblock %}