{% extends "autobuske_linije/base.html" %}

{% block content %}


<h2>Da li želite da izbrišete stajalište "{{ object.naziv }}"?</h2>

<div style="width:600px;">
    <div style="float: left; width: 50px"> 
        <form method="post" >{% csrf_token %} 
			<input type='submit' class="button" value='Da'/> 
		</form>
    </div>
    <div style="float: right; width: 500px"> 
        <form action='{{ object.get_absolute_url }}'>{% csrf_token %}
			<input type='submit' class="button" value='Odustani'/> 
		</form>
    </div>
</div>


{% endblock %}